.card-img-top{
    object-fit: cover;
}
.sm-behaviour{
    font-weight: 500;
    color: #45e0bc;
    z-index: 1;
    padding: 0.3rem;
    background-color: #fff;
    text-transform: uppercase;
}
.card-body-text{
    font-weight: 700;
    font-size: 1rem;
    text-transform: capitalize;
    color: black;
}
.small{
    margin-top: -1.3rem;
    
}
.sm-behaviour-maincard{
    padding: 0.5rem;
    font-weight: 500;
    color: #45e0bc;
    z-index: 1;
    /* padding: 0.3rem; */
    background-color: #fff;
    text-transform: uppercase;
}
.small-main{
    margin-top: -1.5rem;
}
.card-body-text-main{
    font-weight: 800;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: #000;
}
.time , .main-card-description{
    color: #767676;
    font-weight: 500;
    margin-top: -0.6rem;
}
.small-card{
    background-color: #DEF3E8;
    width: 100%;
}
.card-img-top1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 0.9rem;
    object-fit: cover;
}
.card-text{
    font-weight: 500;
    font-size: 0.9rem;
}
.small-card:hover{
    text-decoration: underline;
    text-decoration-color: #45e0bc;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
    }
.card-body:hover{
    text-decoration: underline;
    text-decoration-color: #45e0bc;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
    }
    .card-body-text-main:hover{
        text-decoration: underline;
        text-decoration-color: #45e0bc;
        text-decoration-thickness: 3px;
        text-underline-offset: 2px;
        }

        .demo-card{
            width: 300px;
        }
        .demo-card{
            position: relative;
            width: 100%;
        }
        .image{
            display: block;
            width: 100%;
            height: auto;
        }
        .demo-card-body{
            position: absolute;
            top: auto;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.75);
            color: #fff;
        }
        .card-text-data{
            font-weight: 600;
            font-size: 1.3rem;
            text-transform: capitalize;
            font-family: Lato !important;
        }
    .position{
        /* margin-top: -4rem; */
        position: absolute;
        top: auto;
        bottom: 8rem;
    }
    .position{
        margin: -26px 0 0 0;
    padding: 0px;
    font-family: Lato !important;
    font-size: 16px !important;
    line-height: 1 !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    background-color: rgba(255,255,255,0);
    color: #ffffff;
    }
    .card-text-data:hover{
        text-decoration: underline;
        text-underline-offset: 2px;
        /* color: #45e0bc; */
        text-decoration-color: #45e0bc;
        text-decoration-thickness: 3px;
    }

    /*----------------------------------- Prevention Card -------------------------------------  */
    .small-strategy{
        margin-top: 0.3rem;
    }
    .sm-behaviour-strategy{
        font-size: 0.7rem;
        font-weight: 500;
    color: #fff;
    z-index: 1;
    padding: 0.3rem;
    background-color: #45e0bc;
    text-transform: uppercase;
    }
   
    /*-------------------------- Article Card   -----------------------------------  */
    .sm-behaviour-article{
        font-size: 0.85rem;
        font-weight: 500;
    color: #fff;
    z-index: 1;
    padding: 0.3rem;
    background-color: #45e0bc;
    text-transform: uppercase;
    }
    .small-article{
        margin: 0.8rem 0;
    }
    .card-body-article{
        font-weight: 700;
        font-size: 1.1rem;
        text-transform: capitalize;
        color: black;   
    }